# Dependencies
node_modules/

# Next.js build
.next/

# Env files
.env
.env.local

# Cache / history
.history/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Others
package-lock.json
